<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ExpressoAmerican.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <title>Expresso Americano</title>

    <link href="CSS/estilos.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>

<form id="form1" runat="server">

    <nav class="navbar">

        <div class="logo">
            <img src="Images/logo.png"
     style="height:50px;"
     alt="Expresso Americano" />
            Expresso Americano
        </div>

        <div class="nav-links">

            <a href="Inicio.aspx">Inicio</a>

            <a href="Menu.aspx">Menú</a>

            <a href="Facturacion.aspx">Facturación</a>

            <a href="Reportes.aspx">Reportes</a>

            <asp:HyperLink
                ID="lnkLogin"
                runat="server"
                NavigateUrl="Login.aspx">
                Iniciar sesión
            </asp:HyperLink>

        </div>

    </nav>

    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>

    <footer class="footer">
        <p>☕ Expresso Americano</p>
        <p>Calidad, sabor y tradición.</p>
    </footer>

</form>

</body>
</html>